/* powerful-insights */

.powerful-insights__container {
  display: grid;
  max-width: 1110px;
  margin: 0 auto;
  padding: 162px 32px 0px;

}

.description__top {
  margin-bottom: 16px;
}

.new {
  background-color: var(--cor-3);
  border-radius: 12.5px;
  padding: 4px 11px;
  margin-right: 15px;
}

.monograph {
  opacity: .5;
}

.powerful-insights__title {
  max-width: 20ch;
  margin-bottom: 32px;
  position: relative;
  z-index: 2;
}

.powerful-insights__text {
  max-width: 27ch;
  margin-bottom: 64px;
  opacity: .75;
}

.description__action a {
  background-color: var(--cor-1);
  padding: 15px 33px;
  border-radius: 5px;
  margin-right: 24px;
  transition: .4s;
}

.description__action a:hover {
  opacity: .7;
}

.description__action span {
  opacity: .5;
}

.powerful-insights__container img {
  overflow: hidden;
  position: absolute;
  right: -255px;
  top: 220px;

}

@media(max-width:1150px) {
  .powerful-insights__container {
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 87px;
  }

  .powerful-insights__container img {
    position: static;
    z-index: 2;
    order: -1;
  }

  .powerful-insights__container p {
    margin: 0 auto 64px;
  }
}

@media(max-width:800px) {

  .powerful-insights__container {
    padding-top: 66px;
  }
}

@media(max-width:600px) {
  .powerful-insights__title {
    margin-bottom: 15px;
  }

  .powerful-insights__container {
    text-align: left;
  }

  .powerful-insights__container p {
    margin: 0 0 27px;
  }

  .description__action a {
    padding: 11px 24px;
    font-size: 14px;
    letter-spacing: 0.93px;
    margin-right: 20px;
  }

  .preview {
    font-size: 14px;
    letter-spacing: 2.5px;
  }


}

@media(max-width:420px) {

  .description__action {
    margin-bottom: 92px;
  }

  .powerful-insights__container {
    margin-top: 340px;
  }

  .powerful-insights__container img {
    margin-top: 110px;
    min-width: 482px;
    min-height: 239px;
    position: absolute;
    top: 0;
    left: 0;

  }
}